<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Savior</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">

</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <!--    Logo    -->
        <a class="navbar-brand">Money Savior</a>

        <!-- Toggler/collapsibe Button -->
        <!-- Đây sẽ là nơi xử lý việc gop menu lai khi thuc hien tren dien thoai -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/expenses}" class="nav-link">Quản lý chi tiêu</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/incomes}" class="nav-link" >Quản lý thu nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Forum</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/userpage}" class="nav-link" >Tài khoản</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout} ">Đăng xuất</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" name = "keyword" placeholder="Tìm kiếm">
                <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </form>
        </nav>
    </nav>
    <br>

    <!-- Body -->
    <div class="container light-style flex-grow-1 container-p-y">
        <h2 class="py-3 mb-4">
          Thông tin tài khoản
        </h2>
        <div class="card overflow-hidden"> 
          <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
              <div class="list-group list-group-flush account-settings-links">
                <a class="list-group-item list-group-item-action active" data-toggle="list"
                  href="#account-general">Thông tin chung</a>
                <a class="list-group-item list-group-item-action" data-toggle="list"
                  href="#account-details">Thông tin chi tiết</a>
                <!-- <a class="list-group-item list-group-item-action" data-toggle="list"
                  href="#account-salary">Thông tin lương</a> -->
              </div>
            </div>
            <div class="col-md-9">
              <div class="tab-content">
  
                <div class="tab-pane fade active show" id="account-general" th:object="${user}">
                  <div class="card-body media align-items-center">
                    <img th:if="${user.anh != null}" th:src="${'data:image/jpeg;base64,' + user.anh}" height="100" width="100"
                      class="d-block ui-w-80">
                    <img th:if="${user.anh == null}" src="https://bootdey.com/img/Content/avatar/avatar1.png" height="100" width="100"
                      class="d-block ui-w-80">
                  </div>
                  <hr class="border-light m-0">
                  <div class="card-body"> 
                    <div class="form-group">
                      <label class="form-lable">Họ và tên</label>
                      <output class="form-control mb-1" name="hoten" th:text="${user.hoten}"></output>
                    </div>
                    <div class="form-group">
                      <label class="form-lable">Email</label>
                      <output class="form-control mb-1" name="email" th:text="${user.email}"></output>
                    </div>
                    <div class="form-group">
                      <label class="form-lable">Số điện thoại</label>
                      <output class="form-control mb-1" name="sdt" th:text="${user.sdt}"></output>
                    </div>
                    <div class="form-group">
                      <label class="form-lable">Ví</label>
                      <!-- <input type="text" class="form-control mb-1"
                      name="idpb"
                      th:field="*{idpb}">  -->
                      <output class="form-control mb-1" name="tongtien" th:text="${'₫' + #numbers.formatDecimal(tt.tongtien, 1, 'COMMA', 2, 'POINT')}"></output>
                    </div>
                  </div>
                </div>
  
                <div class="tab-pane face" id="account-details" th:object="${user}">
                  <div class="card-body pb-2">
                    <div class="form-group">
                        <label class="form-lable">Họ và tên</label>
                        <output class="form-control mb-1" name="hoten" th:text="${user.hoten}"></output>
                    </div>
                    <div class="form-group">
                      <label class="form-lable">Quê quán</label>
                      <output class="form-control mb-1" name="quequan" th:text="${user.quequan}"></output>
                    </div>
                    <div class="form-group">
                      <label class="form-lable">Ngày sinh</label>
                      <output class="form-control mb-1" name="ngaysinh" th:text="${user.ngaysinh}"></output>
                    </div>
                    <div class="form-group">
                      <label class="form-lable">Giới tính</label>
                      <output class="form-control mb-1" name="gt" th:text="${user.gt}"></output>
                    </div>
                    <div class="form-group">
                      <label class="form-lable">Dân tộc</label>
                      <output class="form-control mb-1" name="dantoc" th:text="${user.dantoc}"></output>
                    </div>
                  </div>
                  <hr class="border-light m-0">
                  <div class="card-body pb-2"> 
                    <h6 class="mb-4">Liên hệ</h6>
                    <div class="form-group">
                      <label class="form-lable">Số điện thọai</label>
                      <output class="form-control mb-1" name="sdt" th:text="${user.sdt}"></output>
                    </div>
                    <div class="form-group">
                      <label class="form-lable">Email</label>
                      <output class="form-control mb-1" name="email" th:text="${user.email}"></output>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="text-right mt-3">
          <a th:href="@{/updateAccount/{id}(id=${user.iduser})}" class="btn btn-primary ">
              Chỉnh sửa 
          </a>
        </div>
        </div>
        <br>
        <br>

    <!--  Footer  -->
    <footer class="bg-light text-center text-lg-start">
        <div class="footer-content text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="footer-left">
                <b>Copyright©2024 Dương Thành Đạt.</b> All rights reserved.
            </div>
            <div class="footer-right">
                <b>Version</b> 1.0.0
            </div>
        </div>
    </footer>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>

    <script>
        function formatVND(n, currency) {
          return currency + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        }

        document.addEventListener('DOMContentLoaded', function() {
          var currentElements = document.getElementsByName('current');
          for (var i = 0; i < currentElements.length; i++) {
            var currentValue = parseInt(currentElements[i].textContent);
            currentElements[i].textContent = formatVND(currentValue, '₫');
          }
        });
    </script>
</body>
</html>