<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="style.css">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <!-- Body -->
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br>
                <h1 align="center"> Đăng nhập </h1>
                <br>
                <form th:action="@{/login}" method="post">
                    <!-- Tin nhắn báo lỗi -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Sai tên đăng nhập hoặc mật khảu</div>
                    </div>
                    <!-- Tin nhắn báo đăng xuất -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">Bạn đã đăng xuất thành công.</div>
                    </div>
                    <!-- Tin nhắn báo gửi email thành công -->
                    <div th:if="${message != null}">
                        <div class="alert alert-info">[[${message}]]</div>
                    </div>
                    <!-- Tin nhắn báo đăng ký tài khoản thành công -->
                    <div th:if="${successRegismess != null}">
                        <div class="alert alert-info">[[${successRegismess}]]</div>
                    </div>

                    <div class="form-group">
                        <label for="username">Email</label>:
                        <input type="email" class="form-control" id="username" name="username"
                               placeholder="Nhập Email"
                               required autofocus="autofocus"
                        >
                    </div>

                    <div class="form-group">
                        <label for="password">Mật khẩu</label>:
                        <input type="password" class="form-control"  id="password" name="password"
                               placeholder="Nhập Mật khẩu"
                               required autofocus="autofocus"
                        >
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="remember-me" style="margin-right: 5px;"/>Ghi nhớ tôi
                    </div>

                    <div class="form-group">
                        Chưa có tài khoản? <a th:href="@{/registration}">Đăng ký ở đây</a></span>
                    </div>

                    <div class="form-group">
                        <a th:href="@{/forgotpassword}">Quên mật khẩu?</a></span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="Login-submit" id="Login-submit" class="form-control btn btn-primary"
                                       value="Đăng nhập"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <div class="footer-content text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="footer-left">
                <b>Copyright©2024 Dương Thành Đạt.</b> All rights reserved.
            </div>
            <div class="footer-right">
                <b>Version</b> 1.0.0
            </div>
        </div>
    </footer>
</body>
</html>