<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="style.css">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <!-- Body -->
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br>
                &nbsp;
                <h1 align="center"> Đăng ký </h1>
                <!-- Cần bổ sung thêm thuộc tính id nhân viên và thay đổi action -->
                <form th:action="@{/saveRegistration}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label class="control-label" for="name">
                            Nhập họ và tên:
                        </label>
                        <input id="hoten" class="form-control"
                               th:field="*{hoten}" required autofocus="autofocus"
                               placeholder="Nhập họ và tên người dùng"
                        >
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">
                            Nhập email:
                        </label>
                        <input id="email" class="form-control"  type="email"
                               th:field="*{email}" required autofocus="autofocus"
                               placeholder="Nhập email người dùng">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">
                            Nhập mật khẩu:
                        </label>
                        <input id="password" class="form-control" type="password"
                               th:field="*{password}" required autofocus="autofocus" name="password"
                               placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">
                            Nhập lại mật khẩu:
                        </label>
                        <input id="rpassword" class="form-control" type="password"
                               name="rpassword" required autofocus="autofocus"
                               oninput="ktMatkhauhople(this)"
                               placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Đăng ký</button>
                        &nbsp;
                        <a th:href="@{/login}" class="btn btn-danger">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <div class="footer-content text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="footer-left">
                <b>Copyright©2024 Dương Thành Đạt.</b> All rights reserved.
            </div>
            <div class="footer-right">
                <b>Version</b> 1.0.0
            </div>
        </div>
    </footer>

    <script>
        function ktMatkhauhople(input) {
            var passwordInput = document.getElementById('password');
            var rpasswordInput = document.getElementById('rpassword');

            // Check if passwords match
            if (passwordInput.value === rpasswordInput.value) {
                rpasswordInput.setCustomValidity('');
            } else {
                rpasswordInput.setCustomValidity('Mật khẩu không trùng khớp!');
            }
        }
    </script>
</body>
</html>