html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto; /* allows content to grow and take up available space */
}
footer {
    flex-shrink: 0; /* prevents the footer from shrinking */
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 100px; /* Center content vertically */
    margin-top: 55px;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; /* Adjust padding as needed to align with the table */
}
.footer-left, .footer-right {
    display: inline-block;
}
.footer-left {
    margin-right: 300px; /* Adjust this to move left content more to the right */
}
.footer-right {
    margin-left: 300px;
}