<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Savior</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <!--    Logo    -->
        <a class="navbar-brand" >Money Savior</a>

        <!-- Toggler/collapsibe Button -->
        <!-- Đây sẽ là nơi xử lý việc gop menu lai khi thuc hien tren dien thoai -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/expenses}" class="nav-link">Quản lý chi tiêu</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/incomes}" class="nav-link" >Quản lý thu nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Tài khoản</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout} ">Đăng xuất</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" name = "keyword" placeholder="Tìm kiếm">
                <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </form>
        </nav>
    </nav>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <br>
                <h1 class="text-center">Cập nhật khoản thu</h1>
                <div class="card-body">
                    <form action="#" th:action="@{/updateIncome}" th:object="${khoanthu}" method="post">
                        <!-- Phan action tren day chinh la cho se quyet dinh trang web se lam gi sau khi an
                        nut gui -->
                        <div class="form-group">
                            <input
                                    type="hidden"
                                    th:field="*{idkhoanthu}"
                                    class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="hidden"
                                    th:field="${ctkhoanthu.idctthu}"
                                    class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Số tiền giao dịch</label>
                            <input
                                    type="text"
                                    name="tongthu"
                                    th:field="*{tongthu}"
                                    class="form-control"
                                    placeholder="Nhập số tiền giao dịch"
                            />
                        </div>
                        <div class="form-group">
                            <label>Ngày giao dịch</label>
                            <input
                                type="date"
                                name="ngaythu"
                                th:field="*{ngaythu}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Thể loại</label>
                            <select
                                name="theloai"
                                th:field="${ctkhoanthu.theloai}"
                                class="form-control"
                            >
                                <option value="" disabled selected>Chọn thể loại</option>
                                <option value="salary">Lương</option>
                                <option value="investment">Đầu tư</option>
                                <option value="give">Được tặng</option>
                                <option value="other">Khác</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <textarea
                                name="ghichu"
                                th:field="${ctkhoanthu.ghichu}"
                                class="form-control"
                                placeholder="Nhập ghi chú"
                                rows="4"
                            ></textarea>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                Tạo
                            </button>
                        </div>
                    </form>
                    <hr>
                    <a th:href="@{/incomes}">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!--  Footer  -->
    <footer class="bg-light text-center text-lg-start">
        <div class="footer-content text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="footer-left">
                <b>Copyright©2024 Dương Thành Đạt.</b> All rights reserved.
            </div>
            <div class="footer-right">
                <b>Version</b> 1.0.0
            </div>
        </div>
    </footer>
</body>
</html>