<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Savior</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.ootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <!--    Logo    -->
        <a class="navbar-brand" >Money Savior</a>

        <!-- Toggler/collapsibe Button -->
        <!-- Đây sẽ là nơi xử lý việc gop menu lai khi thuc hien tren dien thoai -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/expenses}" class="nav-link">Quản lý chi tiêu</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/incomes}" class="nav-link" >Quản lý thu nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Forum</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/userpage}" class="nav-link" >Tài khoản</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout} ">Đăng xuất</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" name = "keyword" placeholder="Tìm kiếm">
                <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </form>
        </nav>
    </nav>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <br>
                <h1 class="text-center">Cập nhật tài khoản</h1>
                <div class="card-body">
                    <form action="#" th:action="@{/updateAccount}" th:object="${user}" method="post"
                        enctype="multipart/form-data"
                    >
                        <!-- Phan action tren day chinh la cho se quyet dinh trang web se lam gi sau khi an
                        nut gui -->
                        <div class="form-group">
                            <input
                                type="hidden"
                                th:field="*{iduser}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="hidden"
                                th:field="*{idtongtien}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Họ tên</label>
                            <input 
                                type="text"
                                name="hoten"
                                th:field="*{hoten}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            <input 
                                type="text"
                                name="ngaysinh"
                                th:field="*{ngaysinh}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Quê quán</label>
                            <input 
                                type="text"
                                name="quequan"
                                th:field="*{quequan}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Giới tính</label>
                            <input 
                                type="text"
                                name="gt"
                                th:field="*{gt}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Dân tộc</label>
                            <input 
                                type="text"
                                name="dantoc"
                                th:field="*{dantoc}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input 
                                type="text"
                                name="sdt"
                                th:field="*{sdt}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input 
                                type="text"
                                name="email"
                                th:field="*{email}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Ảnh đại điện: </label>   
                            <br>
                            <img th:src="${'data:image/jpeg;base64,' + employee.anh}" height="100" width="100" style="margin-top: 10px; margin-bottom: 15px;">
                            <br>
                            <input
                                type="file"
                                name="anh"
                                th:field="*{anh}"
                                id="anh"
                                accept="img/png, img/jpeg, img/jpg"
                            >
                            <br>
                            <br>
                            <img id="thumbnail" alt="Ảnh đã chọn">
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                Cập nhật
                            </button>
                        </div>
                    </form>
                    <hr>
                    <a th:href="@{/userpage}">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!--  Footer  -->
    <footer class="bg-light text-center text-lg-start">
        <div class="footer-content text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="footer-left">
                <b>Copyright©2024 Dương Thành Đạt.</b> All rights reserved.
            </div>
            <div class="footer-right">
                <b>Version</b> 1.0.0
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#anh').change(function(){
                showImageThumbnail(this);
            });
        });
        function showImageThumbnail(fileInput) {
            file=fileInput.files[0];
            reader=new FileReader();
            reader.onload=function(e){
                $('#thumbnail').attr('src',e.target.result);
                $('#thumbnail').css('width', '200px'); // Set the width to 100 pixels
            };
            reader.readAsDataURL(file);
        };
    </script>
</body>
</html>